<div>
    <h2 id="page-heading">
        <span>Grades</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-grades" [routerLink]="['/grades/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Grades
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="grades">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Matno</span></th>
            <th><span>Ca</span></th>
            <th><span>Exam</span></th>
            <th><span>Total</span></th>
            <th><span>Grade</span></th>
            <th><span>Semester</span></th>
            <th><span>Year</span></th>
            <th><span>Attempt</span></th>
            <th><span>Status</span></th>
            <th><span>Course</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let grades of grades ;trackBy: trackId">
                <td><a [routerLink]="['/grades', grades.id, 'view' ]">{{grades.id}}</a></td>
                <td>{{grades.matno}}</td>
                <td>{{grades.ca}}</td>
                <td>{{grades.exam}}</td>
                <td>{{grades.total}}</td>
                <td>{{grades.grade}}</td>
                <td>{{grades.semester}}</td>
                <td>{{grades.year}}</td>
                <td>{{grades.attempt}}</td>
                <td>{{grades.status}}</td>
                <td>
                    <div *ngIf="grades.courseId">
                        <a [routerLink]="['../course', grades.courseId , 'view' ]" >{{grades.courseId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/grades', grades.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/grades', grades.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'grades', { outlets: { popup: grades.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
