<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-grades-heading">Create or edit a Grades</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!grades.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="grades.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_matno">Matno</label>
                    <input type="text" class="form-control" name="matno" id="field_matno"
                        [(ngModel)]="grades.matno" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ca">Ca</label>
                    <input type="number" class="form-control" name="ca" id="field_ca"
                        [(ngModel)]="grades.ca" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_exam">Exam</label>
                    <input type="number" class="form-control" name="exam" id="field_exam"
                        [(ngModel)]="grades.exam" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_total">Total</label>
                    <input type="number" class="form-control" name="total" id="field_total"
                        [(ngModel)]="grades.total" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_grade">Grade</label>
                    <input type="text" class="form-control" name="grade" id="field_grade"
                        [(ngModel)]="grades.grade" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_semester">Semester</label>
                    <input type="number" class="form-control" name="semester" id="field_semester"
                        [(ngModel)]="grades.semester" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_year">Year</label>
                    <input type="text" class="form-control" name="year" id="field_year"
                        [(ngModel)]="grades.year" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_attempt">Attempt</label>
                    <input type="number" class="form-control" name="attempt" id="field_attempt"
                        [(ngModel)]="grades.attempt" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                        [(ngModel)]="grades.status" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_course">Course</label>
                    <select class="form-control" id="field_course" name="course" [(ngModel)]="grades.courseId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="courseOption.id" *ngFor="let courseOption of courses; trackBy: trackCourseById">{{courseOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
