<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="grades">
            <h2><span>Grades</span> {{grades.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Matno</span></dt>
                <dd>
                    <span>{{grades.matno}}</span>
                </dd>
                <dt><span>Ca</span></dt>
                <dd>
                    <span>{{grades.ca}}</span>
                </dd>
                <dt><span>Exam</span></dt>
                <dd>
                    <span>{{grades.exam}}</span>
                </dd>
                <dt><span>Total</span></dt>
                <dd>
                    <span>{{grades.total}}</span>
                </dd>
                <dt><span>Grade</span></dt>
                <dd>
                    <span>{{grades.grade}}</span>
                </dd>
                <dt><span>Semester</span></dt>
                <dd>
                    <span>{{grades.semester}}</span>
                </dd>
                <dt><span>Year</span></dt>
                <dd>
                    <span>{{grades.year}}</span>
                </dd>
                <dt><span>Attempt</span></dt>
                <dd>
                    <span>{{grades.attempt}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{grades.status}}</span>
                </dd>
                <dt><span>Course</span></dt>
                <dd>
                    <div *ngIf="grades.courseId">
                        <a [routerLink]="['/course', grades.courseId, 'view']">{{grades.courseId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/grades', grades.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
