<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="course">
            <h2><span>Course</span> {{course.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{course.name}}</span>
                </dd>
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{course.code}}</span>
                </dd>
                <dt><span>Level</span></dt>
                <dd>
                    <span>{{course.level}}</span>
                </dd>
                <dt><span>Credit</span></dt>
                <dd>
                    <span>{{course.credit}}</span>
                </dd>
                <dt><span>Locale</span></dt>
                <dd>
                    <span>{{course.locale}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{course.status}}</span>
                </dd>
                <dt><span>Department</span></dt>
                <dd>
                    <div *ngIf="course.departmentId">
                        <a [routerLink]="['/department', course.departmentId, 'view']">{{course.departmentId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/course', course.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
