<div>
    <h2 id="page-heading">
        <span>Repeats</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-repeat" [routerLink]="['/repeat/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Repeat
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="repeats">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Matno</span></th>
            <th><span>Year</span></th>
            <th><span>Student</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let repeat of repeats ;trackBy: trackId">
                <td><a [routerLink]="['/repeat', repeat.id, 'view' ]">{{repeat.id}}</a></td>
                <td>{{repeat.matno}}</td>
                <td>{{repeat.year}}</td>
                <td>
                    <div *ngIf="repeat.studentId">
                        <a [routerLink]="['../student', repeat.studentId , 'view' ]" >{{repeat.studentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/repeat', repeat.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/repeat', repeat.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'repeat', { outlets: { popup: repeat.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
