<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="repeat">
            <h2><span>Repeat</span> {{repeat.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Matno</span></dt>
                <dd>
                    <span>{{repeat.matno}}</span>
                </dd>
                <dt><span>Year</span></dt>
                <dd>
                    <span>{{repeat.year}}</span>
                </dd>
                <dt><span>Student</span></dt>
                <dd>
                    <div *ngIf="repeat.studentId">
                        <a [routerLink]="['/student', repeat.studentId, 'view']">{{repeat.studentId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/repeat', repeat.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
